/* Font sizes in pixels ************/
$--h1-font-size: 26px;
$--h2-font-size: 24px;
$--h3-font-size: 22px;
$--h4-font-size: 20px;
$--subtitle-font-size: 18px;
$--large-text-font-size: 16px;
$--medium-text-font-size: 14px;
$--small-text-font-size: 12px;
$--caption-font-size: 10px;

/* global colors ***************/
$--blue-linear: linear-gradient(to left top, #92a3fd, #9dceff);
$--purple-linear: linear-gradient(to left top, #c58bf2, #eea4ce);
$--calories-linear: linear-gradient(to left top, #c58bf2, #b4c0fe);
$--logo-linear: linear-gradient(to left top, #cc8fed, #9dceff);
$--back-color: #1d1617;
$--border-color: #f7f8f8;
$--white-color: #ffffff;
