@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

/* globals.css */
:root {
  /* Font sizes in pixels ************/
  --h1-font-size: 26px;
  --h2-font-size: 24px;
  --h3-font-size: 22px;
  --h4-font-size: 20px;
  --subtitle-font-size: 18px;
  --large-text-font-size: 16px;
  --medium-text-font-size: 14px;
  --small-text-font-size: 12px;
  --caption-font-size: 10px;

  /* global colors ***************/
  --blue-linear: linear-gradient(to left top, #92a3fd, #9dceff);
  --purple-linear: linear-gradient(to left top, #c58bf2, #eea4ce);
  --calories-linear: linear-gradient(to left top, #c58bf2, #b4c0fe);
  --logo-linear: linear-gradient(to left top, #cc8fed, #9dceff);
  --back-color: #1d1617;
  --border-color: #f7f8f8;
  --white-color: #ffffff;
}

/* H1 Styles */
.title-h1-bold {
  font-size: var(--h1-font-size);
  font-weight: bold;
}

.title-h1-semi-bold {
  font-size: var(--h1-font-size);
  font-weight: 600;
}

.title-h1-medium {
  font-size: var(--h1-font-size);
  font-weight: 500;
}

.title-h1-regular {
  font-size: var(--h1-font-size);
  font-weight: 400;
}

/* H2 Styles */
.title-h2-bold {
  font-size: var(--h2-font-size);
  font-weight: bold;
}

.title-h2-semi-bold {
  font-size: var(--h2-font-size);
  font-weight: 600;
}

.title-h2-medium {
  font-size: var(--h2-font-size);
  font-weight: 500;
}

.title-h2-regular {
  font-size: var(--h2-font-size);
  font-weight: 400;
}

/* H3 Styles */
.title-h3-bold {
  font-size: var(--h3-font-size);
  font-weight: bold;
}

.title-h3-semi-bold {
  font-size: var(--h3-font-size);
  font-weight: 600;
}

.title-h3-medium {
  font-size: var(--h3-font-size);
  font-weight: 500;
}

.title-h3-regular {
  font-size: var(--h3-font-size);
  font-weight: 400;
}

/* H4 Styles */
.title-h4-bold {
  font-size: var(--h4-font-size);
  font-weight: bold;
}

.title-h4-semi-bold {
  font-size: var(--h4-font-size);
  font-weight: 600;
}

.title-h4-medium {
  font-size: var(--h4-font-size);
  font-weight: 500;
}

.title-h4-regular {
  font-size: var(--h4-font-size);
  font-weight: 400;
}

/* Subtitle Styles */
.text-subtitle-bold {
  font-size: var(--subtitle-font-size);
  font-weight: bold;
}

.text-subtitle-semi-bold {
  font-size: var(--subtitle-font-size);
  font-weight: 600;
}

.text-subtitle-medium {
  font-size: var(--subtitle-font-size);
  font-weight: 500;
}

.text-subtitle-regular {
  font-size: var(--subtitle-font-size);
  font-weight: 400;
}

/* Large Text Styles */
.text-large-bold {
  font-size: var(--large-text-font-size);
  font-weight: bold;
}

.text-large-semi-bold {
  font-size: var(--large-text-font-size);
  font-weight: 600;
}

.text-large-medium {
  font-size: var(--large-text-font-size);
  font-weight: 500;
}

.text-large-regular {
  font-size: var(--large-text-font-size);
  font-weight: 400;
}

/* Medium Text Styles */
.text-medium-bold {
  font-size: var(--medium-text-font-size);
  font-weight: bold;
}

.text-medium-semi-bold {
  font-size: var(--medium-text-font-size);
  font-weight: 600;
}

.text-medium-medium {
  font-size: var(--medium-text-font-size);
  font-weight: 500;
}

.text-medium-regular {
  font-size: var(--medium-text-font-size);
  font-weight: 400;
}

/* Small Text Styles */
.text-small-bold {
  font-size: var(--small-text-font-size);
  font-weight: bold;
}

.text-small-semi-bold {
  font-size: var(--small-text-font-size);
  font-weight: 600;
}

.text-small-medium {
  font-size: var(--small-text-font-size);
  font-weight: 500;
}

.text-small-regular {
  font-size: var(--small-text-font-size);
  font-weight: 400;
}

/* Caption Styles */
.text-caption-bold {
  font-size: var(--caption-font-size);
  font-weight: bold;
}

.text-caption-semi-bold {
  font-size: var(--caption-font-size);
  font-weight: 600;
}

.text-caption-medium {
  font-size: var(--caption-font-size);
  font-weight: 500;
}

.text-caption-regular {
  font-size: var(--caption-font-size);
  font-weight: 400;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

// Customized backgrounds **********************/
.bg-blue-linear {
  background: var(--blue-linear);
}
.bg-purple-linear {
  background: var(--purple-linear);
}
.bg-border-color {
  background: var(--border-color);
}

// Transition effect when change page ************/
.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.fade-transition {
  animation: fadeIn 0.3s ease-in-out forwards;
}

.slide-transition {
  animation: slideIn 0.5s ease-in-out;
}

.swiper {
  width: 295px;
  height: 478px;

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;

    &:nth-child(1n) {
      background: var(--calories-linear);
    }

    &:nth-child(2n) {
      background: var(--blue-linear);
    }

    &:nth-child(3n) {
      background: var(--logo-linear);
    }
  }
}

.form-input {
  color: #ada4a5;
  font-size: var(--small-text-font-size);
  border-radius: 14px;
  background: var(--border-color);
  margin-bottom: 10px;
}
